<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'Screen.Root.Home.Heading' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{'Screen.Root.Home.Heading' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container 
    name="{{'Screen.Root.Home.Emptystate.Heading' | translate }}"
    desc="{{'Screen.Root.Home.Emptystate.Body' | translate }}">
  </app-explore-container>
</ion-content>